body {
    background-image: url('bg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 50px; /* Added padding to the body */
}
.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8); /* visibility */
    border-radius: 10px; /* Optional: Add rounded corners */
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1); /* shadow */
    width: 100%;
    max-width: 600px;
    margin-bottom: 50px; /* Added margin-bottom for extra space */
}
.logo {
    max-width: 200px;
    height: auto;
    margin-bottom: 20px;
}
h2, h1, h6 {
    margin: 10px 0; /* spacing between text elements */
}
.form-container {
    width: 100%;
    margin-top: 20px;
}
.form-floating {
    margin-bottom: 15px;
}
.btn-primary {
    width: 100%;
    margin-top: 20px;
}
.footer {
    text-align: center;
    margin-top: 20px;
}
.privacy-policy {
    text-align: left;
    margin-top: 20px;
}
.resend-button {
    margin-top: 10px;
}